<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/13a8f728-a4f8-4ee4-abad-e7963aeaa909/resourcegroups/AuthWebApp20210801113105ResourceGroup/providers/Microsoft.Web/sites/AuthWebApp20210801113105</ResourceId>
    <ResourceGroup>AuthWebApp20210801113105ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://authwebapp20210801113105.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>authwebapp20210801113105.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>AuthWebApp20210801113105</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$AuthWebApp20210801113105</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:authwebapp20210801113105dbserver.database.windows.net,1433;Initial Catalog=AuthWebApp20210801113105_db;User ID=authwebadmin@authwebapp20210801113105dbserver;Password=Sh#23755" Name="Data Source=tcp:authwebapp20210801113105dbserver.database.windows.net,1433;Initial Catalog=AuthWebApp20210801113105_db;User Id=authwebadmin@authwebapp20210801113105dbserver;Password=Sh#23755" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="AuthWebApp.Models.UserContext, AuthWebApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:authwebapp20210801113105dbserver.database.windows.net,1433;Initial Catalog=AuthWebApp20210801113105_db;User Id=authwebadmin@authwebapp20210801113105dbserver;Password=Sh#23755</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>